/* GLOBAL CLASSES*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  position: relative;
  color: black;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
  background-color: #f4f5f7;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  padding: 0;
}

main {
  margin-bottom: 15px;
}

main section {
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  margin-bottom: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

article {
  margin: 25px 0;
}

article .h2 {
  margin-top: 10px;
  font-size: 22px;
}

article p {
  font-size: 13px;
}

.border-top {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  background-color: white;
}

.hide-element {
  display: none;
}

/* HEADER */

.top-navbar {
  background-color: red;
}

.contenedor-nav .center-logo {
  width: 395px;
  height: 60px;
  filter: invert(100%);
}

.header-left {
  color: #fff;
}

.left-container date {
  color: #fff;
}

.logo-nav img {
  width: 131px;
  height: 20px;
  filter: invert(100%);
}

.weather img {
  width: 24px;
  height: 24px;
  margin: 0;
}

.header-right .bars-icon {
  color: #fb9a94;
}

.header-right button {
  font-size: 14px;
}

.header-right .subscribe {
  border-radius: 0;
  padding: 1px 3px;
  color: red;
}
.subscribe i {
  color: red;
}

.header-right .sign-in {
  padding: 0 3px 0 0;
}

/* MAIN CONTENT */
.text-muted {
  color: #03030366 !important;
  font-weight: bolder;
}

.top-imagen .category {
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  left: 0;
  z-index: 1;
}

.opinion ul {
  margin: 0;
  padding: 0;
}

.image-headshot {
  margin-right: 15px;
}

.info .title {
  font-size: 17px;
  line-height: 20px;
}

.info .h6 {
  font-size: 14px;
  color: #555;
}

.opinion li:first-child {
  border-top: 0;
  padding-top: 0;
}

/* .opinion li */

.debate-item#first-by-linea {
  border-top: 4px solid #f92859;
}

.debate-item#second-by-linea {
  border-top: 4px solid #1c87fb;
}

.by-linea {
  margin-top: 4px;
}

.by-linea::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
}

.by-linea .image-headshot {
  margin-right: 4px;
}

.by-linea .by-text {
  font-size: 14px;
}

.vs {
  width: 40px;
  height: 40px;
  color: #d6d6d6;
  font: bold 14px/40px "Roboto Condensed", sans-serif;
  margin: 14px auto 18px;
}

.more-stories .image-headshot img {
  float: left;
  width: 95px;
  margin-right: 15px;
}

.more-stories .h6 {
  font-size: 13px;
  line-height: 17px;
}

.culture-travel .h2 {
  font-family: "Lora", sans-serif;
  font-size: 20px;
}

.culture-travel p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #27272780;
}

.culture-travel .category {
  color: #272727;
  background-color: #c2d4d7;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 0 6px;
}

.culture-travel .category a {
  font-size: 13px;
}

.latest-news li {
  margin-bottom: 15px;
}

.title-maganize {
  margin-bottom: 15px;
  font: bold 19px/19px "Roboto Condensed", sans-serif;
}

.title-maganize .icon {
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.in-the-magazine .button-magazine {
  display: block;
  background-color: #f4f5f6;
  color: black;
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
  font-size: 18px;
}

.in-the-magazine .button-magazine::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  background: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center/contain no-repeat;
  filter: invert(100%);
}

.bottom-article .first-article {
  margin-top: 0;
}

.features {
  margin: 10px 0;
}
.features .first-feature {
  background-color: red;
  color: #fff;
  margin-right: 7px;
  padding: 5px;
}

.features .next-features {
  color: red;
}

.editors-pick .border-top {
  margin-top: 0;
}

.featured-slideshows .icon {
  margin-right: 13px;
}

.featured-slideshows .icon::after {
  border-bottom: 3px solid red;
  border-right: 3px solid red;
  display: block;
  content: "";
  width: 26px;
  height: 25px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.featured-slideshows .category a {
  width: 70px;
  height: 52px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0 / contain no-repeat;
  color: #e9212e;
}

.featured-slideshows .subtitle {
  font-size: 18px;
  margin: 20px 0;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 14px;
}

footer .container-fluid {
  padding: 20px 15px;
}

footer p {
  margin: 0;
}

footer ul {
  margin: 0;
}

.social li {
  padding: 0 8px;
  font-size: 25px;
}

.logo-footer svg {
  width: 236px;
  height: 36px;
  margin-right: 15px;
  margin-bottom: 12px;
  fill: red;
}

.footer-bottom {
  margin-right: 20px;
}

.footer-bottom label {
  margin-right: 15px;
}

.footer-bottom li {
  display: inline-block;
  padding-right: 10px;
  margin: 2px 0;
}
.footer-links-edition {
  margin: 6px 0;
}

/* MEDIA QUERYS BREAKPOINTS */
@media screen and (min-width: 401px) {
  .weather-deg.hide-element {
    display: block;
  }
}

@media screen and (min-width: 480px) {
  .subscribe .hide-element {
    display: block;
  }
  .header-right button {
    font-size: 18px;
  }

  .header-right .subscribe {
    padding: 0 5px;
  }
}

@media screen and (min-width: 640px) {
  .weather-country.hide-element {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .top-navbar {
    height: 95px;
    padding: 20px 10px 15px;
  }

  .left-container date {
    display: block;
  }

  .top-navbar .contenedor-nav {
    height: 100%;
  }

  .logo-nav {
    display: none;
  }

  .contenedor-nav .center-logo {
    display: block;
  }

  .header-left {
    align-self: flex-start;
  }

  .header-right {
    align-self: flex-end;
  }

  .bars-icon {
    display: none;
  }
}
